<plugin name='application-settings' version='0.2' grailsVersion='1.3.7 &gt; *'>
  <author>Alessandro Miliucci</author>
  <authorEmail>lifeisfoo@gmail.com</authorEmail>
  <title>Application Settings Plugin</title>
  <description>Grails plugin that expose a Conf controller to get/set string values based on string keys: Conf.get("website-header").
</description>
  <documentation>http://grails.org/plugin/application-settings</documentation>
  <type>ApplicationSettingsGrailsPlugin</type>
  <resources>
    <resource>net.forkwait.Conf</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>