<plugin name='application-configuration' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Alessandro Miliucci</author>
  <authorEmail>lifeisfoo@gmail.com</authorEmail>
  <title>Application Configuration Plugin</title>
  <description>Grails plugin that expose a Conf class to get/set string values based on string keys: Conf.valueGet("website-header").
</description>
  <documentation>https://github.com/lifeisfoo/grails-application-configuration-plugin</documentation>
  <type>ApplicationConfigurationGrailsPlugin</type>
  <resources>
    <resource>net.forkwait.Conf</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>